@keyframes section1_keyframes_aparecer_de_arriba{
    from{
        opacity:0;
        top: -150px;
    }
    to {  
        opacity:1;
        top: 0;
    }

}
@-webkit-keyframes section1_keyframes_aparecer_de_arriba{
    from {
        opacity: 0;
        top: 20%;
    }
    to{
        opacity: 1;
        top: 0;

    }
}
@keyframes banner{
    0%,12%{
      background-image:url(../img/banner/8.png);
      opacity:1;
    }
    13%,15%{
      opacity:0.1;
    }
    16%,28%{
      background-image:url(../img/banner/7.png);
      object-fit:scale-down;
      opacity:1;
    }
    29%,31%{
      opacity:0.1;
    }
    32%,44%{
      opacity:1;
          background-image:url(../img/banner/9.png);
    }
   45%,47%{
      opacity:0.1;
    }
   48%,60%{
      opacity:1;
          background-image:url(../img/banner/10.png);
    }
    61%,63%{
        opacity:0.1;
      }
    64%,76%{
        opacity:1;
            background-image:url(../img/banner/6.png);
      } 
    77%,78%{
        opacity:0.1;
      }
    79%,91%{
    opacity:1;
    background-image:url(../img/banner/11.png);
  }
  }